bitstamp.7z
dane.7z
tweeteval.7z
bitcoin_tweets_2M.csv.7z
fasttext_tweetmodel_btc_sg_20_en.bin
fasttext_tweetmodel_btc_sg_100_en.bin
venv/
venv3.10/
fastText/
irony_dir/
predictions2/
emo_model.bin
emo_model.vec
fasttext_tweetmodel_btc_sg_20_en.vec
fasttext_tweetmodel_btc_sg_100_en.vec
test_emo.txt
test_labels_emo.txt
train_emo.txt
train_labels_emo.txt
val_emo.txt
val_labels_emo.txt
tweeteval/

emotion_dir/
emoji_dir/